* {
  margin: 0;
  padding: 0;
}

html, body, #app, .main-box {
  height:100%;
}

body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, sans-serif;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo a {
  font-family: 'Exo', sans-serif;
  margin: 0px 20px;
  color: white;
  position: relative;
  top: 1px;
  text-decoration: none;
}

.clear {
  clear: both;
}

.hide {
  visibility: hidden;
}

.info-banner {
  position: fixed;
  bottom: 0px;
  color: #888;
  font-size: 10px;
  background-color: #eee;
  opacity:0.5;
  padding: 1px 10px;
}

.info-banner a {
  color: #888;
}

.info-banner a:hover {
  color: blue;
}

.loading-indicator {
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.loading-indicator.visible {
  opacity: 1;
}

.loading-indicator img {
  width: 18px;
  height: 18px;
}