/*
.top-bar .logo, .top-bar .board-label {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

.top-bar .logo {
  margin-left: 12px;
}

.top-bar .logo > *,
.top-bar .board-label * {
  line-height: 22px;
  color: white !important;
}

.top-bar .logo a,
.top-bar .label a {
  margin: 0px 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
}

.faceboard-logo:hover {
  text-decoration: underline;
}

.board-label .label:hover {
  text-decoration: underline;
}*/