@import url(http://fonts.googleapis.com/css?family=Exo:800);

.logo {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

.logo > * {
  display: inline-block;
  color: white !important;
}

.logo a {
  margin: 0px 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
}