@import url(http://fonts.googleapis.com/css?family=Exo:800);

.top-bar .logo, .top-bar .board-label {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

.top-bar .logo {
  margin-left: 12px;
}

.top-bar .logo > *,
.top-bar .label > * {
  line-height: 22px;
  display: inline-block;
  color: white !important;
}

.top-bar .logo a,
.top-bar .label a {
  margin: 0px 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
}