/*.menu {
  color: #fff;
  float: right;
  font-size: 12px;
  line-height: 18px;
  padding: 2px 0px;
}

.menu > * {
  display: inline-block
}

.menu-button {
  margin-right: 10px;
  padding: 0px 10px;
  cursor: pointer;
  background-color: #26386c;
  border-radius: 2px;
  font-weight: bold;
}

.menu-button.active {
  background-color: yellow;
  color: black;
}
*/