.people-board {
  margin: 20px;
  zoom: 1;
  perspective: 800px;
}

.person-box {
  position: relative;
  float: left;
  margin: 20px 20px;
  z-index: 0;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  transform: translateZ(-100px)
}

.person-box.extended {
  z-index: 100;
  transform: translateZ(-50px)
}

.polaroid-frame {
  transform-origin: 0% 0%;
  background-color: #f6f6f6;
  border: 1px solid #eee;
  padding: 10px 8px;
  padding-bottom: 4px;
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
  white-space: nowrap;
}

.polaroid-frame:hover {
  background-color: #fafafa;
  opacity: 1;
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.2);
}

.extended .polaroid-frame {
  background-color: #fafafa;
  opacity: 1;
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.2);
}

.polaroid-frame .photo {
  margin-bottom: 6px;
  width: 126px;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #eee;
  background-color: white;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.2);
  overflow: hidden;
}

.polaroid-frame .flag {
  margin-left: 6px;
  height: 14px !important;
  position: relative;
  top: 1px;
}

.polaroid-frame img {
  position: relative;
}

.polaroid-frame .photo img {
  max-width: 124px;
}

.polaroid-frame .name {
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.person-extended-wrapper {
  position:absolute
}

.left-part {
  display: inline-block;
}

.right-part {
  display: inline-block;
  vertical-align: top;
  border-left: 2px dashed #dedede;
  padding-left: 10px;
  margin-left: 10px;
  min-height: 150px;
}

.person-extended-info {
  min-width: 300px;
  margin-left: 10px;
  font-size: 12px;
}