.people-board {
  margin: 20px
}

.person {
  float: left;
  margin: 10px 20px;
}

.polaroid-frame {
  background-color: #fafafa;
  border: 1px solid #eee;
  width: 126px;
  padding: 10px 8px;
  
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
}

.polaroid-frame .photo {
  margin-bottom: 6px;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #eee;
  background-color: white;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.2);
  overflow: hidden;
}

.polaroid-frame img {
  position: relative;
}

.polaroid-frame .photo img {
  max-width: 124px;
}

.polaroid-frame .name {
  text-align: center;
  overflow: hidden;
}