.page, .page-content, .board-view, .left-side, .right-side {
  height: 100%;
}

.top-bar {
  min-height: 22px;
  line-height: 18px;
  background: #3a5795;
  border: 1px solid #999;
  font-size: 12px;
}

.top-bar > * {
  display: inline-block;
}

.top-bar .tab-area > * {
  display: inline-block;
}

.tab {
  padding: 0px 8px;
  font-weight: bold;
  margin: 2px;
  margin-left: 8px;
  margin-bottom: 0px;
  min-width: 80px;
  cursor: pointer;
  position: relative;
  top: 1px;
  border: 1px solid transparent;
  text-align: center;
  color: #fff;
}

.tab.selected {
  color: #000;
  background: #fff;
  border: 1px solid #999;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom: 1px solid white;
}

.page-content {
  font-family: 'Kalam', cursive;
}

.page-content .left-side {
  width: 80%;
  }

.page-content .dual-mode .left-side {
  width: 50%;
  display: inline-block;
  float: left;
}

.page-content .dual-mode .right-side {
  width: 50%;
  display: inline-block;
  float: right;
}